<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="http://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="../public/css/index.css" th:href="@{/css/index.css}"/>
<script src="https://kit.fontawesome.com/be1973d3d0.js" crossorigin="anonymous"></script>
<head>
    <meta charset="utf-8"/>
    <title></title>
</head>
<body>
<div align="center">
    <h1>Edit Post</h1>
    <br />
    <form th:action="@{/update}" th:object="${post}"
          th:method="patch">
        <head>
            <style>
                button {background-color: #4CAF50; /* Green */
                    border: none;
                    color: white;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;}
            </style>
        </head>

        <table border="0" cellpadding="10">
            <tr>
                <input type="hidden" id="id" th:field="*{id}"/>
                <input type="hidden" id="author.id" th:field="*{author.id}"/>
                <input type="hidden" id="author.username" th:field="*{author.username}"/>
                <td>title</td>
            <td><input type="text" th:field="*{title}" /></td>
            </tr>
            <tr>
                <td>category</td>
                <td><input type="text" th:field="*{category}" /></td>
            </tr>
            <tr>
                <td>img</td>
                <td><input type="text" th:field="*{img}" /></td>
            </tr>
            <tr>
                <td>body</td>
                <td><input type="text" th:field="*{body}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit" value="Confirm edit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>