    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org" xmlns:visibility="http://www.w3.org/1999/xhtml">

    <head th:replace="layout :: site-head">
        <title>Edit Post</title>
    </head>

    <body>

    <header th:replace="layout :: site-header"></header>

    <div class="row">
        <div class="leftcolumn">
            <div class="in">
    <form th:action="@{/update}" th:object="${post}"
          th:method="patch">
        <head>
            <style>
                button {background-color: #4CAF50; /* Green */
                    border: none;
                    color: white;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;}
            </style>
        </head>

        <div class = "centr"><p>Edytuj post</p></div>
        <div class = "lefts">
                <input type="hidden" id="id" th:field="*{id}"/>
                <input type="hidden" id="author.id" th:field="*{author.id}"/>
                <input type="hidden" id="author.username" th:field="*{author.username}"/>
            <input class="texts" type = "text" id="title" th:field="*{title}" name = "titles" placeholder = "Title" required minlength="4" formControlName = "titles">
            <br/>
            <input class="texts" type = "text" id="category" th:field="*{category}" name = "category" placeholder = "category" formControlName = "category">
            <input class="texts" type = "text" id="img" th:field="*{img}" name = "category" placeholder = "LinkImage" formControlName = "category">
            <br/>
            </div>
                <div class ="rights">
                    <input class= textlong type = "text" id="body" th:field="*{body}" name = "textlong" placeholder = "Text" formControlName = "category">
                </div>
                <input type="submit" [disabled] = "!formdata.valid" class = "forsubmit" value="Confirm edit">
             </form>
            </div>
        </div>
        <footer th:replace="footer :: site-footer"></footer>
    </div>
    </body>

    </html>